// Body
$body-bg: #f8fafc;
$background_main:#F3F7FA;
$input_border:#C3CBCD;
$input_form_standart_margin_padding:0.25em;
$b360_color:#334A56;
$header_background:#333333;

$accent:#0BD0D9;
$accent2:#707070;
$main_blue_background:#009DD9;
$main_btn:#6CB2EB;

$new:#A3AD0026;
$mutated:#FF8A0026;
$completed:#FFD60026;
// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
